In [1]:
import requests
import pandas as pd

In [11]:
df = pd.read_csv("puzzle_01_1_input.txt", header=None)
df.columns=["depth"]
df

      depth
0       100
1       101
2       105
3       106
4       103
...     ...
1995  10268
1996  10269
1997  10273
1998  10272
1999  10284

[2000 rows x 1 columns]

In [14]:
(df.depth.diff() > 0).sum()

1752